# ShellCheck

# Always allow ShellCheck to open arbitrary files from 'source' statements.
external-sources=true

# Optional: Enable all optional checks
enable=all

# Optional: Set color settings (auto, always, never)
color=auto
